BOT_TOKEN=8331786005:AAEZQtj--EP6ogYvTLHqQDcoofwhvLaugew
VIP_CHANNEL_ID=-1002384609234
SOL_MAIN=8dtuyskTtsB78DFDPWZszarvDpedwftKYCoMdZwjHbxy
ETH_MAIN=0x20d2708acd360cd0fd416766802e055295470fc1
HELIUS_API_KEY=1b0094c2-50b9-4c97-a2d6-2c47d4ac2789
DATABASE_URL=postgresql://postgres.ylpxxgvaetykmswzrpmi:IceGods25Coe25Database@aws-0-eu-west-3.pooler.supabase.com:6543/postgres
PORT=10000
