# ==========================
# Python / Virtualenv
# ==========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Local environment
# ==========================
.env
*.db

# ==========================
# Logs and temporary files
# ==========================
*.log
*.tmp

# ==========================
# System / IDE
# ==========================
.DS_Store
.idea/
.vscode/






