BOT_TOKEN=8421936679:AAH9CufV0dyFMosrRPf5qKvqXDXYkgo_9mY
WALLET_ADDRESS_ETH=0x8DF702Fab5fc54bD66FEf5FB4bd90f3B173457Bb
WALLET_ADDRESS_SOL=Cqnz6K1BeP7PUXxPtMJeXE3k7BKDYExh49g3aR19nva8
OWNER_ID=6453658778
ETHERSCAN_API_KEY=YourEtherscanAPIKeyHere
